
@{
    ViewBag.Title = "AboutUsAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}
<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("AboutUs","Home")>English</a> | <a class="mont" style="color:#555" href="#">العربي</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black">نظرة عامة عن الشركة</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/PSC.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                @*تأسست شركة الخدمات العامة عام 1996م كشركة مساهمة كويتية (مقفلة) تمتلك معظم أسهمها هيئات حكومية برأس مال مدفوع قدره ثلاثة ملايين دينار كويتي. وفي شهر يونيو عام 2003م طرأ تغيير على الهيكل التنظيمي للشركة وذلك حين اتحد بيت التمويل الكويتي (والذي كان يمتلك 80 بالمائة من أسهم الشركة آنذاك) مع الأمانة العامة للأوقاف الكويتية (والتي كانت تمتلك 20 بالمائة من أسهم الشركة آنذاك) بهدف إدارة الشركة تحت مظلة واحدة.

                    إن الأسلوب الذي تنتهجه الشركة مع عملائها يؤسس إلى إيجاد برامج مشتركة بين الشركة والمستهلك وبرامج بين الشركات فيما بين بعضها البعض في مختلف الميادين ومنها التأمين الصحي ومراكز الاتصالات وحلول تكنولوجيا المعلومات. وتتمتع الشركة بقدرات في مجالات تخصصية تتيح لها الفرصة لكي تلبي احتياجات وفرص فريدة من نوعها في أسواق تخصصية وهي في ذلك تعمل على أن تجعل من الحلول التي تقدمها هدفاً متوافقاً مع أهداف العملاء التجارية.

                    لقد نجحت الشركة في إيجاد تعاون مشترك لصيق بينها وبين عملائها وشركائها، والحلول التي تقدمها في المجالات المختلفة تمكن الشركات من إدارة وتحسين علاقاتها بالعملاء عبر العديد من نقاط التلاقي بما في ذلك الهاتف والإنترنت وبيع التجزئة وغيرها من قنوات التوزيع، هذا إلى جانب ما تتمتع به الشركة من خبرة واسعة في مجال إدارة ودعم المستشفيات.

                    ولقد حققت الشركة نجاحا كبيرا في مشروع ضخم قامت به عام 2002م لإنشاء وإدارة وتحويل نظام التأمين الصحي على المستوى الوطني والذي ما زالت الشركة تضطلع به حتى الوقت الراهن.

                    والشركة الآن بصدد القيام بالعديد من المشروعات من بينها مشروع إدارة النفقات والتأمينات الطبية والخاص بإدارة الحصول على الاستحقاقات والخدمات الطبية. إن ما تتمتع به الشركة من أسلوب يعتمد على الاهتمام بعملائها في المقام الأول والخدمات المتميزة التي تقدمها لهم يعد عامل دفع في عجلة نجاحها، وهي ما زالت تسير وبقوة نحو تحقيق مزيد من النجاحات من خلال توفير أفضل المنتجات والخدمات لعملائها الذين تعتز بهم.*@

                تعد شركة الخدمات العامة من الشركات الرائدة في تقديم الخدمات لعدت قطاعات في دولة الكويت  فبآمر من حضرة صاحب السمو المغفور له بإذن الله الشيخ / جابر الاحمد الجابر الصباح  أصدر مجلس الوزراء قرار رقم 49/5 بتأسيس شركة الخدمات العامة في 1996 كشركة مساهمة كويتية مقفلة حيث تم تأسيسها بالشراكة مابين القطاع العام و الخاص و هيئات حكومية برأس مال مدفوع قدره 5,000,000 ملايين دينار كما تمتلك مجموعة السلام القابضة و هي شركة مساهمه كويتية عامة ، مدرجة في بورصة الكويت حصة الاغلبية في الشركة .

                <br /><br />

                تبلوره فكرة إنشاء الخدمات العامة بهدف تقديم الخدمات الحكومية التي تمكن الشركة القيام بها نيابة عن بعض الوزارات و مؤسسات الدولة بمستوى أفضل و فعالية أكبر و بتكلفة أقل ، مما سينعكس بدورة بشكل إيجابي على أداء الاجهزة الحكومية و تطوير خدماتها بشكل عام .

                <br />

                تدير شركة الخدمات العامة عدة مشاريع ضخمة لصالح حكومة دولة الكويت المتمثلة في وزاراتها و هيئاتها بالإضافة إلى بعض الشركات الكبرى و تقدر مشاريعها  بقيمة 40 مليون دينار كويتي بطاقم عمل يصل إلى نحو 500 موظف في الشركة الام  و مختلف شركاتها التابعة و المملوكة بالكامل لشركة الخدمات العامة .

                <br /><br />

                و تقدم الشركة خدماتها داخل دولة الكويت من خلال مقرها الرئيسي و الذي يقع في جنوب السرة – منطقة الوزارات بالإضافة إلى مراكز الخدمة و التي تصل إلى 16 مركز خدمة موزع على جميع محافظات دولة الكويت كما تمتلك مكاتب و فروع دولية بهدف تنظيم إدارة مشاريعها المشتركة مع وزارة الصحة الكويتية .
            </h4>
        </div>
    </div>

    <hr />
    <div id="CompanyActivities" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                أنشطة الشركة
            </h2>
        </div>
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                <ul>
                    <li>تقديم الخدمات العديدة لمن يرغب من المواطنين .لتسهيل انجاز معاملاتهم و تخفيض أعداد المراجعين للدوائر و الهيئات الحكومية .</li>
                    <li>خدمات البريد .</li>
                    <li>خدمات التحصيل ( الكهرباء ، الماء ، المواصلات ، أملاك الدولة .. ألخ )</li>
                    <li>خدمة إنجاز المعاملات المباشرة ( on- line  )و غير المباشرة على أن تقدم الدراسة خلال ستة أشهر .</li>
                </ul>
            </h4>
        </div>
    </div>


    <hr />

    <div id="ceomsg" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                رسالة رئيس مجلس الإدارة
            </h2>
        </div>

        <div class="col-lg-9">
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                إن الشـركـة تـمر حاليا بمرحلة هامة جدا إذ أنها تسعى نحو تحقيق رؤيتها لتصبح أكـبر شركة تعنى بتقديم الخدمات مع توفيرها لمنتجات وخدمات هامة متنوعة في أسواق الشرق الأوسط والأسواق الناشئة مما يؤهلها لأن تصبح أكبر مؤسسة في المنطقة في مجال توفير بطاقة الهوية في العالم العربي بأسره.

                وإذا ما نـظرنا إلـى التاريـخ الحـافل والمشـرف للشـركـة نـجد أن عـدد المـوظفـين المحترفين من ذوي الكفاءات بالشركة قد نما من 20 إلى 150 موظفا خلال فترة قياسية، وقد نجحنا في إنجاز أحد المشروعات الوطنية بالاشتراك مع وزارة الصحة الكويتية ونأمل أن نحقق مزيدا من النجاح في المستقبل.

                بصفتها شركة قوية في مجال تقديم خدمات البناء والإدارة والتحويل (BOT) وتتمتع بقدرة متكاملة لتنفيذ وإدارة مشاريع عملاقة إلى جانب المرونة فإن الشركة ومن يعمل ضمن طاقمها من الموظفين لديهم توجه وحس مهني ومهارات تجعلهم لا يألون جهدا في إنجاز المهام الموكلة إليهم ولذلك فإن تتبنى الشركة القيام بمزيد من المشاريع الواعدة. ونحن الآن نمر بمرحلة زيادة رأس مال الشركة من مليوني دينار كويتي إلى ثلاثة ملايين دينار كويتي وزيادة أصول الشركة لنتمكن أكثر فأكثر من خدمة عملائنا الكرام.


                ومن خلال ما تتمتع به الشركة حاليا من كفاءات وتقنيات ناجحة وطاقم من العاملين الذين يتمتعون بمهارات عالية فإنها تعمل على إضفاء مزيد من الانسيابية على الأعمال التي تقوم بها وعلى زيادة فاعلية العمليات التجارية التي تمارسها لتثبت أنها قادرة على تحقيق عائد جيد من الاستثمارات المخصصة لها، هذا بالإضافة إلى عملها على تحسين علاقتها بعملائها وذلك من خلال الخدمات والمنتجات ذات المستوى العالمي والسعر المعقول ومن خلال العمل على إرضاء العميل.

                إننا عازمون على الاستمرار في توفير أفضل الخدمات لعملائنا الكرام كما أننا حريصون كل الحرص على مواكبة التطورات التي تحدث على صعيد السوق المحلي والإقليمي والعالمي الذي يتسم بالتغير والتجدد.

                إشكرا لزيارتكم الكريمة لموقعنا على الشبكة.
                الدكتور / على الشمالى
                رئيس مجلس الإدارة
            </h4>
        </div>

        <div class="col-lg-3">
            <img class="img-responsive" style="border:1px solid black" src="~/Content/Images/mdpic.jpg" alt="" />
        </div>
    </div>

    <hr />

    <div id="OurMission" class="AboutUs_OurMission">
        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">مهمتنا</h3>
                <p class="mont text-right">
                    تسعى الشركة لترجمة الرغبة الأميرية في شأن إنشاء شركة الخدمات العامة و تذليل كل إمكانياتها لدعم القطاع العام و الخاص في دولة الكويت من وزارات و الهيئات و المؤسسات على أعلى مستوى من الجودة و النزاهة
                </p>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">رؤيتنا</h3>
                <p class="mont text-right">
                    شركة رائدة دولياً في تقديم أفضل حلول الخدمات بطريقة مبتكرة و ذات جودة عالية لخدمة أهداف العمل في كل من القطاع العام و الخاص
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">أهدافنا</h3>
                <h2 class="mont text-right">
                    <ul dir="rtl" class="mont">
                        <li>خلق نموذج جديد و فريد في قطاع الخدمات ذو قيمة مضافة للقطاعين العام و الخاص.</li>
                        <li>تطوير حجم أعمال الشركة و خدماتها محليا و دوليا .</li>
                        <li>استغلال كل الفرص المتاحة من خلال ابرام عقود تقديم خدمات مع الحكومات و الشركات الكبرى .</li>
                        <li>تعظيم ايرادات الشركة من خلال تنويع مصادر الدخل و الدخول في قطاعات جديدة .</li>
                    </ul>
                </h2>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">قيمنا </h3>
                <h2 class="mont text-right">
                    <ul dir="rtl" class="mont">
                        <li>التعاون و هو أسلوب العمل المعتمد لدينا لتحقيق جميع اهدافنا المشتركة مع عملائنا .</li>
                        <li>السرية مبدأ أساسي نهتم به في جميع سياسات اجراءات العمل المتبعة لدينا و هو ما يعكس ثقة عملائنا بنا من خلال مشاريعنا.</li>
                        <li>الجودة و هي ما نركز عليها دائما لضمان راحة عملائنا و رضاهم .</li>
                        <li>النزاهة حيث تلتزم الشركة بالنزاهة و الاخلاقيات العالية في جميع تعاملاتها مع عملائها .</li>
                    </ul>
                </h2>

            </div>
        </div>
    </div>

    @*<hr />
    <div id="co" class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/CO_AR.jpg" alt="" />
        </div>
    </div>*@
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                مجلس إدارة الشركة
            </h2>
        </div>
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/BOD_Ar.jpg" alt="" />
        </div>
    </div>

</div>


