
@{
    ViewBag.Title = "AboutUs";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("AboutUsAr", "Home")>العربي</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">Company Overview</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/PSC.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="line-height:35px;">
                @*The Public Services Company was founded in 1996 as a Kuwait Closed Shareholding Company owned mostly by government institutions with a paid-up capital of KD 3,000,000. In June 2003, PSC’s organization structure was changed as the Kuwait Finance House (with 80% share) and Al-Awqaf Foundation (with 20% share) joined together to run its business operations.

                    PSC’s multi-tiered approach to client engagement is dedicated to providing both business-to-consumer (B2C) and business-to-business (B2B) programs in various fields such as Health Insurance, Contact Centers, IT solutions and others. PSC has developed industry-specific competencies that allow it to respond to unique demands and opportunities in specific markets, aligning its solutions as closely as possible with its clients’ business goals.

                    PSC has developed close collaboration with its clients and partners and its industry solutions enable organizations to manage and optimize customer relationships across multiple touch points, including telephone, Internet, field, retail and other distribution channels. It also has an extensive experience in Hospital Management and Support.

                    One of PSC’s monumental success stories is the build-and-operate-transfer (BOT) project in 2002 of the National Health Insurance System and PSC is still at the helm of this huge project to date.

                    PSC is embarking on numerous projects among them is the TPA Project for Medical Claims and Services Management.

                    PSC’s customer-centric approach and world-class services have propelled the company to success and it continues to soar giving the best products and services to its valued clientele."*@

                The Public Services Company is one of the leading companies in the provision of services to prepare sectors in the State of Kuwait. His Highness the Amir Sheikh Jaber Al-Ahmad Al-Jaber Al-Sabah issued a decree No. 49/5 establishing the General Services Company in 1996 as a closed Kuwaiti shareholding company, which was established in partnership between the public and private sectors and government agencies with a paid up capital of 5,000,000 million. Furthermore, Al-Salam Holding Company Group, a Kuwaiti public shareholding company listed on the Kuwait Stock Exchange, owns the majority stake in the company.
                <br /><br />
                The idea of establishing public services in order to provide government services that enable the company to perform on behalf of some ministries and state institutions in a better and more effective and at a lower cost, which will reflect positively on the performance of government agencies and the development of services in general.
                <br /><br />
                The General Services Company manages several large projects for the Government of the State of Kuwait in its ministries and bodies as well as some major companies. The projects are estimated at 40 million KD with a staff of about 500 employees in the parent company and its wholly owned subsidiaries.
                <br /><br />
                The company provides its services within the State of Kuwait through its head office located in the South of Al-Sura - the ministries area in addition to the service centers which reach 16 service centers distributed to all governorates of the State of Kuwait and has offices and international branches to organize the management of joint projects with the Ministry Kuwait Health.

            </h4>
        </div>
    </div>

    <hr />
    <div id="CompanyActivities" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:ltr">
                Company Activities
            </h2>
        </div>
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="direction:ltr; line-height:35px;">
                <ul>
                    <li>Establishment of service offices in any regions of Kuwait to complete all transactions of companies, institutions, institutions and individuals in all governmental and non governmental bodies and institutions.</li>
                    <li>Conducting studies and specialized expertise, providing administrative and technical consultations, holding training programs, seminars and conferences that are in accordance with the company's objectives.</li>
                    <li>Providing information and data on all services inside and outside Kuwait and issuing specialized periodicals related to the company's purposes.</li>
                    <li>To conduct studies and collect data on the field of service in all sectors in the country and analyze them for the formation of databases and the establishment and management of information centers to facilitate access to data through the work of subscriptions to individuals and companies, in cooperation and coordination with the concerned authorities.</li>
                    <li>Completion and follow-up of procedures, visas, certifications and special agencies of embassies.</li>
                    <li>Management of health insurance requirements.</li>
                    <li>Air ambulance services.</li>
                    <li>Providing administrative and technical workers for all local public and private companies.</li>
                    <li>Recruitment of specialized technical workers.</li>
                    <li>Manage employment contracts with companies, governmental and non-governmental bodies and bring in specialized and regular workers.</li>
                </ul>
            </h4>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center">
                Board of Directors
            </h2>
        </div>
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/BOD_En.jpg" alt="" />
        </div>
    </div>

    

    @*<hr />
        <div id="co" class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/Content/Images/CO_EN.jpg" alt="" />
            </div>
        </div>*@
    <hr />
</div>

