
@{
    ViewBag.Title = "AboutUs";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("AboutUsAr", "Home")>العربي</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/PSC.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">Company Overview</h3>
            <h4 class="mont text-justify" style="line-height:35px;">

                Public Services Company (PSC) is one of the leading public services provider in the State of Kuwait. By order of His Highness late Amir Sheikh Jaber Al-Ahmad Al-Jaber Al-Sabah, the Council of Ministers issued a decree No. 5/94 establishing PSC in 1996 as a closed Kuwaiti shareholding company, which was established in partnership between the public and private sectors and government agencies.
                <br /><br />
                The idea of establishing PSC was for the purpose of providing governmental services that the company can perform on behalf of a number of ministries and state institutions in a better and more effective manner.
                <br /><br />
                PSC manages several large projects for the Kuwaiti government represented in its ministries, regulatory bodies, citizens and expatriates among others. The projects are estimated to value KD 40 million with a staff of about 500 employees in the holding company and its fully owned subsidiaries.
                <br /><br />
                The Company offers its services within the State of Kuwait through its head office located in South of Al-Surra - the Ministries Zone Area, in addition 16 service centers distributed across all governorates in Kuwait. Additionally, we have international offices and branches to organize its joint projects with the Kuwaiti Ministry of Health for the expatriate manpower screening project, as the international branches are located in the Arab Republic of Egypt, the Republic of India and the Hashemite Kingdom of Jordan.
                <br /><br />
                The Company also has contracts with the Ministry of Interior to provide technical support to all its service centers and departments, providing billing services and electronic payment solutions. In addition, PSC manages the employment contracts and the recruitment of specialized technical personnel for various ministries, for example with the Ministry of Justice and the Ministry of Finance, as well as a series of contracts with the private sector, specially the banking sector and investment companies.
                <br /><br />
                PSC launched XCEL Call Center, which operates several call centers for a number of clients both in the public and the private sectors, with a team of about 250 employees. The Company also manages Yemnak Concierge Project (Personal Assistant) which aims to achieve the highest level of luxury for its customers through meeting their needs, whether individuals or companies, by facilitating their daily lives 24 hours a day, seven days a week.


            </h4>
        </div>
    </div>

    <hr />
    <div id="CompanyActivities" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:ltr">
                Company Activities
            </h2>
        </div>
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="direction:ltr; line-height:35px;">
                <ul>
                    <li>Establishing service centers in any region of Kuwait to complete all transactions of companies, authorities, institutions and individuals in all governmental and non governmental bodies and institutions.</li>
                    <li>Conducting studies and specialized expertise consultations, providing administrative and technical consultations and holding training programs, seminars and conferences that are in accordance with the Company's objectives.</li>
                    <li>Providing information and data on all services inside and outside Kuwait and issuing specialized journals related to the Company's purposes.</li>
                    <li>Conducting studies and collecting data in the service field of all sectors in the country, analyzing them for creating databases, and establishing and managing data centers to facilitate access to such data, through initiating subscriptions to individuals and companies, in cooperation and coordination with the concerned authorities.</li>
                    <li>Completion and follow-up of procedures, visas, certifications and special power of attorneys for embassies.</li>
                    <li>Management of health insurance requirements.</li>
                    <li>Air ambulance services.</li>
                    <li>Providing administrative and technical workers for all local public and private companies.</li>
                    <li>Recruitment of specialized technical workers.</li>
                    <li>Manage employment contracts with companies, governmental and non-governmental bodies and employment of specialized and general workers.</li>
                </ul>
                PSC has an interest to contribute in any manner with entities that carry out similar business or which may assist it to achieve its objectives in Kuwait or internationally, and may purchase or cooperate with such entities for this purpose.
            </h4>
        </div>
    </div>

    <hr />
    <div id="ceomsg" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center">
                CHAIRMAN’S MESSAGE
            </h2>
        </div>

        <div class="col-lg-3">
            <img class="img-responsive" style="border:1px solid black" src="~/Content/Images/mdpic.jpg" alt="" />
        </div>

        <div class="col-lg-9">
            <h4 class="mont text-justify" style="line-height:35px;">
                Based on the Public Services Company’s (PSC) vision and its commitment towards improving and developing the level of services in the State of Kuwait, and given the progress undergoing in the region, we seek to achieve supremacy and excellence. This can be achieved by providing integrated services on behalf of some ministries and governmental institutions at a higher level, with greater efficiency and lower cost. As a result, it shall reflect positively on the governmental institutions performance and the development of its services in general.
                <br /><br />
                A number of achievements by PSC within the past two decades include; a national project that was carried out in cooperation with the Ministry of Health, as a response to the ambitions and aspirations of Kuwait to achieve the vision of His Highness the Amir. In addition, a number of fruitful partnerships to implement several projects with the private sector, and also on an international level, through a number of service centers located in Egypt, Jordan and India. PSC is keen to expand its services to include additional countries, as well as adding new services under its umbrella.
                <br /><br />
                Believing in the fundamental principle that human resources is one of the most important elements of success, PSC has invested heavily in training, and has achieved success by raising the level of performance and upgrading the quality of employees. We currently have approximately 500 employees providing the highest level of services, all motivated to achieve customer satisfaction.
                <br /><br />
                The Company is currently seeking to study and execute large scale projects with a number of different ministries, by providing smart solutions using the latest technical means. I believe PSC has the ability to execute and manage larger projects along with the flexibility in meeting customer needs, through the possession of the latest technical equipment which enables it to manage such types of projects.
                <br /><br />
                Finally, we ask God Almighty, to bless our colleagues in their efforts. I emphasize our determination and aspiration in the services industry to meet our customers satisfaction, and to keep pace with all innovative ideas to improve the performance of services provided locally and internationally.
                <br /><br />
                <strong>
                    Dr. Ali Al-Shamali
                    <br />
                    Chairman
                </strong>
            </h4>
        </div>


    </div>

    <hr />

    <div id="OurMission" class="AboutUs_OurMission">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="text-center">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our Mission</h3>
                <p class="mont">
                    The Company seeks to translate the Amir’s aspiration in establishing the Public Services Company and to maximize its full capabilities to support the public and private sectors in Kuwait from ministries, bodies and institutions at the highest level of quality and integrity.
                </p>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our vision</h3>
                <p class="mont">
                    Public Service Company as an internationally recognized leader in providing the best service solutions in an innovative and high quality manner serving the business objectives in both public and private sectors.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our goals</h3>
                <h4 class="mont">
                    <ul class="mont text-justify" style="line-height:35px;">
                        <li>Creating an innovative and unique model in the services sector with an added value for the public and private sectors.</li>
                        <li>Improving the Company's business and services locally and internationally.</li>
                        <li>Exploiting all available opportunities through service contracts with governments and large companies.</li>
                        <li>Increasing company’s revenues by diversifying sources of income and entering into new sectors.</li>
                        <li>Providing job opportunities for Kuwaitis and expats alike.</li>
                    </ul>
                </h4>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our Values</h3>
                <h4 class="mont">
                    <ul class="mont text-justify" style="line-height:35px;">
                        <li><strong>Co-operation</strong> is our adopted method of work to achieve all our common goals with our customers.</li>
                        <li><strong>Confidentiality</strong> is a fundamental principle that we ensure in all our business policies, which reflects the confidence of our customers through our projects.</li>
                        <li><strong>Quality</strong> is what we always focus on to ensure the comfort and satisfaction of our customers.</li>
                        <li><strong>Integrity</strong> where the company is committed to integrity and high ethics in all dealings with its customers.</li>
                    </ul>
                </h4>

            </div>
        </div>
    </div>


    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center">
                Board of Directors
            </h2>
        </div>
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/BOD_En.jpg" alt="" />
        </div>
    </div>



    @*<hr />
        <div id="co" class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/Content/Images/CO_EN.jpg" alt="" />
            </div>
        </div>*@
    <hr />
</div>

