
@{
    ViewBag.Title = "AboutUsAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}
<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("AboutUs","Home")>English</a> | <a class="mont" style="color:#555" href="#">العربي</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black">نظرة عامة عن الشركة</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/PSC.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                نبذة تعريفية عنا
            </h2>
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                تعد شركة الخدمات العامة من الشركات الرائدة في تقديم الخدمات لعدة قطاعات في دولة الكويت  فبأمر من حضرة صاحب السمو المغفور له بإذن الله الشيخ / جابر الأحمد الجابر الصباح  أصدر مجلس الوزراء قرار رقم 5/94 بتأسيس شركة الخدمات العامة في 1996 كشركة مساهمة كويتية مقفلة حيث تم تأسيسها بالشراكة ما بين القطاع العام و الخاص و هيئات حكومية.
                <br /><br />

                تبلورت فكرة إنشاء شركة الخدمات العامة بهدف تقديم الخدمات الحكومية التي تمكن الشركة القيام بها نيابة عن بعض الوزارات و مؤسسات الدولة بمستوى أفضل و فعالية أكبر و بتكلفة أقل ، مما مينعكس بدوره بشكل إيجابي على أداء الاجهزة الحكومية و تطوير خدماتها بشكل عام.

                <br /><br />

                تدير شركة الخدمات العامة عدة مشاريع ضخمة لصالح حكومة دولة الكويت المتمثلة في وزاراتها و هيئاتها و مواطنيها و وافديها بالإضافة إلى بعض الشركات الكبرى و تقدر مشاريعها  بقيمة 40 مليون دينار كويتي بطاقم عمل يصل إلى نحو 500 موظف في الشركة الام  و مختلف شركاتها التابعة المملوكة بالكامل لشركة الخدمات العامة.
                <br /><br />

                و تقدم الشركة خدماتها داخل دولة الكويت من خلال مقرها الرئيسي و الذي يقع في جنوب السرة – منطقة الوزارات، بالإضافة إلى مراكز الخدمة و التي تصل إلى 16 مركز خدمة موزعة على جميع محافظات دولة الكويت، كما تمتلك مكاتب و فروع دولية بهدف تنظيم إدارة مشاريعها المشتركة مع وزارة الصحة الكويتية من فحص العمالة، حيث تتوزع الفروع الدولية في كل من جمهورية مصر العربية – جمهورية الهند – المملكة الأردنية الهاشمية.
                <br /><br />

                و كذلك تمتلك الشركة عقود مع وزارة الداخلية لتقديم الدعم الفني لكافة مراكز الخدمات و الإدارات بوزارة الداخلية و تقديم خدمة الفواتير و حلول السداد الالكترونية. بالإضافة إلى قيام الشركة بإدارة عقود التوظيف و استقدام العمالة الفنية المتخصصة لدى وزارات الدولة المختلفة منها على سبيل المثال مع وزارة العدل و وزارة المالية و كذلك مجموعة من العقود مع القطاع الخاص و خاصة قطاع البنوك و شركات الاستثمار.
                <br /><br />

                كما تمتلك الشركة مركز الإتصال اكسل و الذي يقوم بتشغيل عدة مراكز اتصال لعدة جهات في القطاع العام و الخاص بطاقم عمل يصل إلى حوالي 250 موظف، كما تدير الشركة مشروع يمناك كونسيرج ( المساعد الشخصي ) والذي يعمل إلى تحقيق أعلى مستوى من الرفاهية لعملائها و ذلك من خلال تلبية كل ما يحتاجه العملاء سواء أفراد أو شركات من خدمات مميزة لتسهيل أمور حياتهم اليومية على مدى 24 ساعة طوال أيام الأسبوع.

            </h4>
        </div>
    </div>

    <hr />
    <div id="CompanyActivities" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                أنشطة الشركة
            </h2>
        </div>
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                <ul>
                    <li>إنشاء مكاتب خدمة في أي من مناطق الكويت لإنجاز كافة المعاملات الخاصة بالشركات و الهيئات و المؤسسات و الأفراد لدى جميع الهيئات و المؤسسات الحكومية و غير الحكومية.</li>
                    <li>القيام بالدراسات و أعمال الخبرة المتخصصة و تقديم الاستشارات الإدارية و الفنية و عقد البرامج التدريبية و الندوات و المؤتمرات التي تتفق مع أغراض الشركة.</li>
                    <li>تقديم المعلومات و البيانات عن كافة الخدمات داخل الكويت و خارجها و القيام بإصدار الدوريات التخصصية ذات العلاقة بأغراض الشركة.</li>
                    <li>القيام بالدراسات و جمع البيانات الخاصة بمجال الخدمة بكافة القطاعات بالدولة و تحليلها لتكوين قواعد البيانات و إنشاء و إدارة مراكز للمعلومات لتسهيل الحصول على البيانات من خلال عمل اشتراكات للأفراد و الشركات و ذلك بالتعاون و التنسيق مع الجهات المعنية.</li>
                    <li>انجاز و متابعة الاجراءات و التأشيرات و التصديقات و الوكالات الخاصة للسفارات.</li>
                    <li>إدارة متطلبات التأمين الصحي.</li>
                    <li>خدمات إسعاف جوي.</li>
                    <li>توفير العماله الإدارية و الفنية لجميع الشركات المحلية العامة و الخاصة.</li>
                    <li>استقدام العمالة الفنية المتخصصة.</li>
                    <li>إدارة عقود التوظيف لدى الشركات و الهيئات الحكومية و غير الحكومية و جلب العمالة المتخصصة و العادية.</li>
                </ul>
                <br />
                و يجوز للشركة أن تكون لها مصلحة أو أن تشترك بأي وجهة مع الهيئات التي تزاول أعمالاً شبيهة بأعمالها أو التي تعاونها على تحقيق أغراضها في الكويت أو في الخارج و لها أن تشتري أو تشارك هذه الهيئات أو أن تلحقها بها.
            </h4>
        </div>
    </div>


    <hr />

    @*<div id="ceomsg" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                كلمة رئيس مجلس الإدارة
            </h2>
        </div>

        <div class="col-lg-9">
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                انطلاقا من رؤية شركة الخدمات العامة والتزامها بمهمة التحديث والتطوير في مستوى خدمات الدولة، و نظرا لأهمية المرحلة التي تمر بها دولة الكويت و المنطقة فأننا نسعى لتحقيق التكامل و التميز من خلال تقديم خدمات متكاملة تتولى الشركة القيام بها نيابة عن بعض الوزارات و مؤسسات الدولة بمستوى أفضل و فعالية أكبر و بتكلفة أقل، مما ينعكس بدوره بشكل إيجابي على أداء الاجهزة الحكومية و تطوير خدماتها بشكل عام.
                <br /><br />

                و بناءً على ما تحقق من نجاح خلال سنوات عمل الشركة التي تعدت عقدين من الزمان تم خلالها تنفيذ و إنجاز أحد المشروعات الوطنية بالاشتراك مع وزارة الصحة، و ذلك تلبية لتطلعات و طموحات دولة الكويت بتحقيق رؤية صاحب السمو أمير البلاد، هذا بالإضافة إلى القيام بعدد من الشراكات المثمرة لتنفيذ العديد من المشروعات مع القطاع الأهلي بدولة الكويت، و أيضاً على المستوى الدولي من خلال عدد من مراكز الخدمات المنتشرة فى كل من مصر و الأردن و الهند، فإن الشركة تسعى إلى توسيع دائرة خدماتها المقدمة لتشمل دول جديدة و كذلك إضافة خدمات جديدة يتم تقديمها تحت مظلة شركتنا.

                <br /><br />

                و ايمانا بمبدأ أن القوة البشرية تعد أحد أهم مقومات النجاح، عملت الشركة على الاستثمار بالعنصر البشري و تدريبه و حققت النجاح في رفع مستوى الأداء والارتقاء بمستوى العاملين، حيث تجاوز عدد العاملين لديها 500 موظف يقومون بتقديم أعلى مستوى من الخدمات المطلوبة مرتكزين على مهاراتهم و خبراتهم المكتسبة و الّذين حرصوا على تحقيق رضا عملائنا.

                <br /><br />

                تسعى الشركة حالياً لدراسة و تنفيذ مشاريع كبيرة مع عدد من وزارات الدولة المختلفة عن طريق تقديم حلول ذكية و باستخدام أحدث الوسائل التقنيه آملين أن نحقق مزيدا من النجاح في المستقبل، حيث تتمتع الشركة بقدرة متكاملة لتنفيذ و إدارة مشاريع عملاقة إلى جانب مرونتها في تلبية احتياجات العملاء، و ذلك من خلال امتلاكها لأحدث الاجهزة التقنية التي تمكنها من القيام بهذا الحجم من المشروعات.

                <br /><br />

                وفي الختام أدعو من الله التوفيق لكل الزملاء العاملين في شركة الخدمات العامة و أود التأكيد على اصرارنا و حرصنا على الاستمرار فى تطوير الخدمات بما يلبي رضا العملاء و الحرص على مواكبة كل ما هو جديد لتطوير أداء الخدمات المقدمة محليا و دوليا.

                <br /><br />
                <strong>
                    الدكتور / على الشمالى
                    <br />
                    رئيس مجلس الإدارة
                </strong>
            </h4>
        </div>

        <div class="col-lg-3">
            <img class="img-responsive" style="border:1px solid black" src="~/Content/Images/mdpic.jpg" alt="" />
        </div>
    </div>

    <hr />*@

    <div id="OurMission" class="AboutUs_OurMission">
        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">مهمتنا</h3>
                <p class="mont text-right">
                    تسعى الشركة لترجمة الرغبة الأميرية في شأن إنشاء شركة الخدمات العامة و تذليل كل إمكانياتها لدعم القطاع العام و الخاص في دولة الكويت من وزارات و الهيئات و المؤسسات على أعلى مستوى من الجودة و النزاهة
                </p>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">رؤيتنا</h3>
                <p class="mont text-right">
                    شركة رائدة دولياً في تقديم أفضل حلول الخدمات بطريقة مبتكرة و ذات جودة عالية لخدمة أهداف العمل في كل من القطاع العام و الخاص
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">أهدافنا</h3>
                <h2 class="mont text-right">
                    <ul dir="rtl" class="mont">
                        <li>خلق نموذج جديد و فريد في قطاع الخدمات ذو قيمة مضافة للقطاعين العام و الخاص.</li>
                        <li>تطوير حجم أعمال الشركة و خدماتها محليا و دوليا .</li>
                        <li>استغلال كل الفرص المتاحة من خلال ابرام عقود تقديم خدمات مع الحكومات و الشركات الكبرى .</li>
                        <li>زيادة ايرادات الشركة من خلال تنويع مصادر الدخل و الدخول في قطاعات جديدة .</li>
                        <li>توفير فرص وظيفية للطاقات الكويتية و غير محددي الجنسية.</li>
                    </ul>
                </h2>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">قيمنا </h3>
                <h2 class="mont text-right">
                    <ul dir="rtl" class="mont">
                        <li>التعاون و هو أسلوب العمل المعتمد لدينا لتحقيق جميع اهدافنا المشتركة مع عملائنا .</li>
                        <li>السرية مبدأ أساسي نهتم به في جميع سياسات اجراءات العمل المتبعة لدينا و هو ما يعكس ثقة عملائنا بنا من خلال مشاريعنا.</li>
                        <li>الجودة و هي ما نركز عليها دائما لضمان راحة عملائنا و رضاهم .</li>
                        <li>النزاهة حيث تلتزم الشركة بالنزاهة و الاخلاقيات العالية في جميع تعاملاتها مع عملائها .</li>
                    </ul>
                </h2>

            </div>
        </div>
    </div>

    @*<hr />
        <div id="co" class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/Content/Images/CO_AR.jpg" alt="" />
            </div>
        </div>*@
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:rtl">
                مجلس إدارة الشركة
            </h2>
        </div>
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/BOD_Ar.jpg" alt="" />
        </div>
    </div>

</div>


