
@{
    ViewBag.Title = "AboutUs";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("AboutUsAr", "Home")>العربي</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black">Company Overview</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" controls="controls">
                <source src="~/Content/Videos/PSC.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="line-height:35px;">
                @*The Public Services Company was founded in 1996 as a Kuwait Closed Shareholding Company owned mostly by government institutions with a paid-up capital of KD 3,000,000. In June 2003, PSC’s organization structure was changed as the Kuwait Finance House (with 80% share) and Al-Awqaf Foundation (with 20% share) joined together to run its business operations.

                PSC’s multi-tiered approach to client engagement is dedicated to providing both business-to-consumer (B2C) and business-to-business (B2B) programs in various fields such as Health Insurance, Contact Centers, IT solutions and others. PSC has developed industry-specific competencies that allow it to respond to unique demands and opportunities in specific markets, aligning its solutions as closely as possible with its clients’ business goals.

                PSC has developed close collaboration with its clients and partners and its industry solutions enable organizations to manage and optimize customer relationships across multiple touch points, including telephone, Internet, field, retail and other distribution channels. It also has an extensive experience in Hospital Management and Support.

                One of PSC’s monumental success stories is the build-and-operate-transfer (BOT) project in 2002 of the National Health Insurance System and PSC is still at the helm of this huge project to date.

                PSC is embarking on numerous projects among them is the TPA Project for Medical Claims and Services Management.

                PSC’s customer-centric approach and world-class services have propelled the company to success and it continues to soar giving the best products and services to its valued clientele."*@

                The Public Services Company is one of the leading companies in the provision of services to prepare sectors in the State of Kuwait. His Highness the Amir Sheikh Jaber Al-Ahmad Al-Jaber Al-Sabah issued a decree No. 49/5 establishing the General Services Company in 1996 as a closed Kuwaiti shareholding company, which was established in partnership between the public and private sectors and government agencies with a paid up capital of 5,000,000 million. Furthermore, Al-Salam Holding Company Group, a Kuwaiti public shareholding company listed on the Kuwait Stock Exchange, owns the majority stake in the company.
                <br /><br />
                The idea of establishing public services in order to provide government services that enable the company to perform on behalf of some ministries and state institutions in a better and more effective and at a lower cost, which will reflect positively on the performance of government agencies and the development of services in general.
                <br /><br/>
                The General Services Company manages several large projects for the Government of the State of Kuwait in its ministries and bodies as well as some major companies. The projects are estimated at 40 million KD with a staff of about 500 employees in the parent company and its wholly owned subsidiaries.
                <br /><br />
                The company provides its services within the State of Kuwait through its head office located in the South of Al-Sura - the ministries area in addition to the service centers which reach 16 service centers distributed to all governorates of the State of Kuwait and has offices and international branches to organize the management of joint projects with the Ministry Kuwait Health.

            </h4>
        </div>
    </div>

    <hr />
    <div id="CompanyActivities" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center" style="direction:ltr">
                Company Activities
            </h2>
        </div>
        <div class="col-lg-12">
            <h4 class="mont text-justify" style="direction:ltr; line-height:35px;">
                <ul>
                    <li>Providing many services to citizens wishing to facilitate the completion of their transactions and reduce the number of auditors of departments and government bodies.</li>
                    <li>Mail services</li>
                    <li>Collection services (electricity, water, transportation, state property, etc.)</li>
                    <li>On-line and indirect delivery services provided that the study is submitted within six months.</li>
                </ul>
            </h4>
        </div>
    </div>

    <hr />

    <div id="ceomsg" class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center">
                Message from Chairman
            </h2>
        </div>
        <div class="col-lg-3">
            <img class="img-responsive" style="border:1px solid black" src="~/Content/Images/mdpic.jpg" alt="" />
        </div>
        <div class="col-lg-9">
            <h4 class="mont text-justify" style="line-height:35px;">
                PSC is currently undergoing a very important phase as we move towards achieving our vision to be the leading service provider with key products and services in the Middle East and emerging markets and looking forward to be the regional player and leading ID card provider in the Arab world.

                Looking back with pride, PSC has grown in record time from 20 to 150 highly professional and competent employees. We have managed successfully a national project with the Ministry of Health and we hope to reap more success in the future.

                A strong BOT service provider, full capacity for executing and managing large scale projects as well as the flexibility, PSC has the entrepreneurial attitude and skills of its staff are to leave no stone unturned as we take on more promising projects. We are also on our ways to boost the company’s capital from KD 2,000,000 to KD 3,000,000 and increase the company’s assets to better serve our valued clientele.


                Capitalizing on our core competencies of efficient technologies and highly skilled staff, PSC aims at streamlining operations, improving the effectiveness of business processes and showing measurable return-on-investment as well as optimizing the value of customer relationships through cost-effective and world-class processes and improved customer satisfaction.

                Our view is to continuously provide our valued clientele with the best services as we keep pace in this dynamic local, regional, and global market.

                Thank you for taking time to visit our website.
                Mr. Ali AL Shamali
            </h4>
        </div>
    </div>

    <hr />

    <div id="OurMission" class="AboutUs_OurMission">
        
        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our Mission</h3>
                <p class="mont">
                    The company seeks to translate the desire of the Amir to establish a public services company and to maximize all its capabilities to support the public and private sector in Kuwait from ministries, bodies and institutions at the highest level of quality and integrity.
                </p>

            </div>

            <div class="col-xs-12 col-sm-6">

                <h1 class="text-center">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our Vision</h3>
                <p class="mont">
                    Public Service Company as an internationally recognized leader in providing the best service solutions in an innovative and high quality manner, to serve business objectives both in the public and private sectors.
                </p>

            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-12">

                <h1 class="text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </h1>
                <h3 class="mont text-center">Our Values</h3>
                <h4 class="mont text-justify" style="direction:ltr; line-height:35px;">
                    <ul class="mont">
                        <li>Co-operation is our adopted method of work to achieve all our common goals with our customers.</li>
                        <li>Confidentiality is a fundamental principle that we take care of in all our business policies, which reflects the confidence of our customers through our projects.</li>
                        <li>Quality is what we always focus on to ensure the comfort and satisfaction of our customers.</li>
                        <li>Integrity where the company is committed to integrity and high ethics in all dealings with its customers.</li>
                    </ul>
                </h4>
            </div>
        </div>
    </div>

    @*<hr />
    <div id="co" class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/CO_EN.jpg" alt="" />
        </div>
    </div>*@
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mont text-center">
                Board of Directors
            </h2>
        </div>
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Content/Images/BOD_En.jpg" alt="" />
        </div>
    </div>

   

</div>

