

@{ ViewBag.Title = "Billing & Payment Project"; }

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("BillingPaymentProjAr", "Home")>العربي</a>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">
                MINISTRY OF INTERIOR – Billing & Payment Project
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                Through one of our subsidiaries, the project was launched in 2007, with a unique product in its scope as it is considered the only governmental service billing and payment solution that works using latest technologies, heavily reducing the project cost and time. In addition to managing the technological scope, the project’s operations, development and support is also managed by our subsidiary. In summary, we have built the first e-Service system for the Kuwaiti government to pay online fine and fees for nine departments including (but not limited to); traffic, immigration, judgment. Also, we are the only company in Kuwait that implemented Enterprise Resource Planning (ERP) for the governmental sector.
                <br /><br />
                Lastly, our business model proves very suitable, reflecting international trends towards Public Private Partnership (PPP) business model. It’s worth mentioning that our history in launching such projects started since 1999 with huge private companies.

            </p>
        </div>

    </div>
</div>
