
@{
    ViewBag.Title = "مشروع الفواتير و حلول السداد";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("BillingPaymentProjEn", "Home")>English</a> | <a class="mont" style="color:#555" href="#">العربي</a>
</div>

<div class="container">
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">
                وزارة الداخلية – مشروع الفواتير و حلول السداد
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class="mont yemnak_description">
            عن طريق إحدى شركاتنا التابعة، تم إطلاق المشروع في عام 2007، من خلال منتج فريد من نوعه من حيث نطاق التطبيق، باعتباره خدمة الفواتير و حلول السداد الحكومي الوحيد الذي يعمل باستخدام أحدث التقنيات التي تؤثر بشكل كبير على خفض تكلفة المشروع والوقت. ولا يزال المشروع يدار من قبلنا من حيث العمليات والتطوير والدعم.
            <br /><br />
            ويمكن تلخيص نقاط قوتنا في هذا المجال كوننا قمنا ببناء أول خدمة إلكترونية للحكومة الكويتية لسداد الرسوم والغرامات على الانترنت ل 9 أقسام، منها على سبيل المثال لا الحصر، المرور والهجرة والأحكام وغيرها ... وفي نفس الوقت تعتبر شركتنا الشركة الوحيدة في الكويت التي نفذت تخطيط موارد المؤسسات (ERP) للقطاع الحكومي الكويتي
            <br /><br />
            بالإضافة إلى ذلك، يوفر نموذج أعمالنا نموذج مناسب جدا ويطابق الاتجاه العالمي نحو نموذج أعمال الشراكة بين القطاع الخاص و العام (PPP). ومن الجدير بالذكر أن تاريخنا في إطلاق مثل هذه المشاريع بدأ منذ عام 1999 مع شركات خاصة ضخمة.

        </p>
    </div>
</div>

