

@{ ViewBag.Title = "Employment Contracts and Recruitent"; }

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("EmpContractsRecAr", "Home")>العربي</a>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;line-height:35px">
                PROJECTS WITH GOVERNMENT MINISTRIES AND PRIVATE SECTOR
                <br />
                MANAGEMENT OF EMPLOYMENT CONTRACTS & RECRUITMENT OF
                <br />
                SPECIALIZED TECHNICAL PERSONNEL PROJECT:

            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                PSC is responsible for managing employment contracts and the recruitment of specialized technical personnel for various ministries, such as the Ministry of Justice and the Ministry of Finance. Also, the execution of these types of contracts has expanded to fulfill the private sector, specifically the banking sector and investment companies. 
            </p>
        </div>

    </div>
</div>
