
@{
    ViewBag.Title = " عقود التوظيف واستقدام ";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("EmpContractsRecEn", "Home")>English</a> | <a class="mont" style="color:#555" href="#">عربي</a>
</div>

<div class="container">
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center">
                وزارات الدولة الأخرى والقطاع الخاص – مشروع إدارة عقود التوظيف واستقدام العمالة الفنية المتخصصة
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class="mont yemnak_description">
            تختص شركة الخدمات العامة بإدارة عقود التوظيف و استقدام العمالة الفنية المتخصصة لدى وزارات الدولة المختلفة منها على سبيل المثال مع وزارة العدل و وزارة المالية، بل وامتد تنفيذ هذه العقود مع القطاع الخاص و خاصة قطاع البنوك و شركات الاستثمار. 

        </p>
    </div>
</div>

