
@{
    ViewBag.Title = "Expats Examinition Project";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("ExpatsExamProjAr", "Home")>العربي</a>
</div>

<div class="container">
    <br />
    @*<div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">

            <a class="btn btn-lg btn-success" href=@Url.Action("Services", "Home")>Health Insurance Project</a>
            <a class="btn btn-lg btn-success" href=@Url.Action("ExpatsExamProj", "Home")>Expats Examinition Project</a>
            <a class="btn btn-lg btn-success" href=@Url.Action("Xcel", "Home")>Xcel Contact Center</a>
            <a class="btn btn-lg btn-success" href=@Url.Action("Yemnak","Home")>Yemnak Concierge</a>

        </div>


    </div>*@
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">Expatriate Examinition Project</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/xcel.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                The Ministry of Health wished to organize the process of medical screening of expatriates. The Ministry considered assigning the task of examining the employment to an integrated solutions services company, which is wholly owned by the Public Services Company. The project started in 2009 in order to tighten the health and preventive security system for the country. Through its subsidiaries under the supervision of the Kuwaiti Health Office in several countries including Egypt, the Hashemite Kingdom of Jordan and the Republic of India, which includes four branches in Mumbai, Hyderabad, Kochi and Delhi. Their arrival to the company h Z completion of all procedures related to the medical examination and the completion of the issuance of fitness certificate and comes the idea of this project in order to facilitate the procedures on expatriate labor and also on the Kuwaiti Ministry of Health and to show a positive image of the Kuwait State and its progress in the health field.
            </p>
        </div>

    </div>
</div>
