
@{
    ViewBag.Title = "EXPATRIATE MANPOWER SCREENING";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("ExpatsExamProjAr", "Home")>عربي</a>
</div>

<div class="container">
    <br />
    @*<div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">

            <a class="btn btn-lg btn-success" href=@Url.Action("Services", "Home")>Health Insurance Project</a>
            <a class="btn btn-lg btn-success" href=@Url.Action("ExpatsExamProj", "Home")>Expats Examinition Project</a>
            <a class="btn btn-lg btn-success" href=@Url.Action("Xcel", "Home")>Xcel Contact Center</a>
            <a class="btn btn-lg btn-success" href=@Url.Action("Yemnak","Home")>Yemnak Concierge</a>

        </div>


    </div>*@
    <div class="row">
        <div class="col-xs-12">
            @*<h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">*@
            <h3 class="mont text-center">
                <img class="img-responsive" style="width:5%;display:inline" src="~/Content/Images/ExpatexamProj.png" alt="" />
                EXPATRIATE MANPOWER SCREENING PROJECT (JORDAN, EGYPT, INDIA)
                <br /><br />
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/MOH.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                According to the requirement of Ministry of Health in organizing the process of medical screening for expatriates entering Kuwait, the Ministry considered assigning the task of examining the expatriates to Integrated Solutions Services Company, a wholly owned subsidiary by PSC. The project started in 2009 in order to reinforce the health and preventive security system. Under the supervision of the Kuwaiti Health Office, several countries such as the Arab Republic of Egypt, the Hashemite Kingdom of Jordan and the Republic of India now operate four branches located in Mumbai, Hyderabad, Kochi and Delhi. These branches aid expatriates in the completion of all procedures related to the medical examination and the issuance of a health certificate. This project in particular achieved in linking both the expatriate labors and the Kuwaiti Ministry of Health to complete all health care related protocols before the arrival in the Kuwaiti labor market.
            </p>
        </div>

    </div>
</div>
