

@{ ViewBag.Title = "Employment Contracts and Recruitent"; }

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("ExpressServiceCenterAr", "Home")>العربي</a>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;line-height:35px">
                EXPRESS SERVICE CENTER PROJECT
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                Since inception, PSC has been providing an array of services that aid in improving the quality of work performance in the public and private sectors. Such efforts lead to the establishment of the Express Service Project in 2018, which was designed to facilitate speedy transactions for citizens and expatriates. Hence, Express Service is one of our latest projects that permit completing certain government tasks on behalf of our customers. It provides distinguished conveniences for citizens and expatriates through specialized service centers that issues health insurance cards, complete the residency visas for expats and their families, issuance of civil identification cards and the renewal of driving license.
                <br />
                <br />
                The number of expatriates in Kuwait has reached 70% in recent years, which is equivalent to a ratio of 3-1. Thus, the majority of the population must carry out certain governmental tasks while being residents of Kuwait, such as renewing official papers and documentation for residency, traffic, health insurance and civil identification card. As a result, such project was launched to serve the following objectives:
            </p>

            <ol class="mont yemnak_description" style="padding-top:0;padding-bottom:0">
                <li>To provide all the services needed by citizens and expatriates with high quality, and to provide a faster and more convenient method to complete annual governmental transactions.</li>
                <li>To increase the level of services provided by the ministries and institutions of Kuwait by facilitating and alleviating public pressure on their location of services.</li>
                <li>To contribute in raising the reputation of the State of Kuwait in the humanitarian field through the distinctive services provided to citizens and expatriates in its territory.</li>
            </ol>
            <p class="mont yemnak_description">PSC provides its services in this project through the following possessed elements:</p>

            <ol class="mont yemnak_description" style="padding-top:0;padding-bottom:0">
                <li>Professional team in the field of services and information.</li>
                <li>The largest call center in Kuwait, equipped with state-of-the-art equipment, technologies, communication systems and information systems specialized in customer service.</li>
                <li>Diverse fleet of modern cars of various sizes that cater to all customer needs</li>
                <li>The company's vast experience of over 14 years in managing and operating governmental projects</li>
                <li>Owning the largest database for expatriates.</li>
            </ol>
        </div>


    </div>

    <br /><br /><br />
</div>
