
@{
    ViewBag.Title = "مركز خدمات اكسبرس ";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("ExpressServiceCenterEn", "Home")>English</a> | <a class="mont" style="color:#555" href="#">العربي</a>
</div>

<div class="container">
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">
                مركز خدمات اكسبرس
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <p class="mont yemnak_description" style="padding-top:0;padding-bottom:0">
            تقوم من خلاله شركة الخدمات العامة بتقديم خدمة مميزة للتسهيل على المواطنين و الوافدين و ذلك عبر مراكز خدمة تقوم على إصدار بطاقات الضمان الصحي لهم و إنجاز معاملات الإقامة الخاصة بهم و بأسرهم و كذلك إصدار البطاقة المدنية و تجديد رخصة القيادة ، وذلك من خلال بطاقة ( خدمات اكسبرس ) التي تتيح لنا تقديم تلك الخدمات بالنيابة عن المواطنين و الوافدين.
            <br />
            دأبت شركة الخدمات العامة منذ تأسيسها على تقديم كل الخدمات التي من شأنها تحسين جودة أداء العمل في القطاعين العام و الخاص و يستمر هذا المجهود حتى انشاء مشروع ( خدمات اكسبرس ) في عام 2018 و الذي صمم لتسهيل إجراءات العمل للمواطنين و للوافدين و سرعة إنجاز معاملاتهم لاسّيما أن عدد الوافدين في دولة الكويت يتراوح  70% أي بنسبة 3-1 من التركيبة السكانية و ما تحمله هذه الفئة من أعباء القيام بإجراءات سنوية لتجديد أوراقها الرسمية الخاصة بالإقامة و المرور و الضمان الصحي و البطاقة المدنية فتم صياغة المشروع ليخدم الأهداف التالية :
        </p>

        <ol class="mont yemnak_description" style="padding-top:0;padding-bottom:0">
            <li>تقديم جميع الخدمات التي يحتاجها المواطن و الوافد بجودة عاليه ورفع عبء المعاملات السنوية الحكومية المتكررة عن كاهل المواطن و الوافد مما يسهم في توفير مناخ مناسب لبيئة عمل صحية ومنتجة اقتصاديا.</li>
            <li>الرفع من مستوى الخدمات التي تقدمها وزارات الدولة ومؤسساتها من خلال تسهيل وتخفيف الضغط الجماهيري على أماكن الخدمة.</li>
            <li>المساهمة في رفع سمعة دولة الكويت في المجال الإنساني من خلال الخدمات المميزة التي تقدمها للمواطنين و للوافدين على أراضيها.</li>
        </ol>

        <p class="mont yemnak_description" style="padding-bottom:0">تقدم شركة الخدمات العامة خدماتها في هذا المشروع من خلال بعض المقومات والعناصر التي تمتلكها متمثلة في: </p>

        <ol class="mont yemnak_description" style="padding-top:0;padding-bottom:0">
            <li>طاقم محترف من أفضل الكوادر والخبرات البشرية المميزة والمتخصصة في المجال الخدمي والمعلوماتي.</li>
            <li>أكبر مركز اتصال على مستوى دولة الكويت، مزود بأحدث الأجهزة والتقنيات وبرامج ونظم الاتصال وتكنولوجيا المعلومات المتخصصة في مجال خدمة العملاء.</li>
            <li>أسطول متنوع من السيارات الحديثة ذات الأحجام المختلفة والتي تلبي جميع احتياجات العملاء.</li>
            <li>الخبرة الكبيرة للشركة والتي تجاوزت 14 عاماً في إدارة وتشغيل المشاريع الحكومية.</li>
            <li>امتلاك الشركة لأكبر قاعدة بيانات للوافدين.</li>
        </ol>
    </div>
</div>

<br />