
@{
    ViewBag.Title = "IndexAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("Index","Home")>English</a> | <a class="mont" style="color:#555" href="#">عربي</a>
</div>

<video autoplay loop muted poster="~/Content/Images/DSC_1542.jpg" id="background">
    <source src="~/Content/Videos/Kuwait.mp4" type="video/mp4" />
</video>



<section class="about">
    <div class="container">
        <div class="row">
            @*<div class="clearfix">
                    <div class="col-lg-6 col-lg-push-6">
                        <img class="img-responsive" src="~/Content/Images/services.svg" alt="" />
                    </div>

                    <div class="col-lg-6 col-lg-pull-6">
                        <h1 class="mont">
                            Range of Services Adapted to Your Needs
                        </h1>
                        <h3 class="mont">
                            The Public Services Company was founded in 1996 as a Kuwait Closed Shareholding Company owned mostly by government institutions with a paid-up capital of KD 3,000,000.
                            In June 2003, PSC’s organization structure was changed as the Kuwait Finance House (with 80% share) and Al-Awqaf Foundation (with 20% share) joined together to run its business operations.
                        </h3>
                        <a href="#" class="btn btn-lg btn-block btn-flat mont">Read More</a>
                    </div>
                </div>*@

            <div class="col-lg-10 col-lg-offset-1">
                <h1 class="mont">
                    مجموعة من الخدمات المقدمة وفقا لإحتياجاتك
                </h1>
                <h3 class="mont">
                    تبلوره فكرة إنشاء الخدمات العامة بهدف تقديم الخدمات الحكومية التي تمكن الشركة القيام بها نيابة عن بعض الوزارات و مؤسسات الدولة بمستوى أفضل و فعالية أكبر و بتكلفة أقل ، مما سينعكس بدورة بشكل إيجابي على أداء الاجهزة الحكومية و تطوير خدماتها بشكل عام .
                    تدير شركة الخدمات العامة عدة مشاريع ضخمة لصالح حكومة دولة الكويت المتمثلة في وزاراتها و هيئاتها بالإضافة إلى بعض الشركات الكبرى و تقدر مشاريعها بقيمة 40 مليون دينار كويتي بطاقم عمل يصل إلى نحو 500 موظف في الشركة الام و مختلف شركاتها التابعة و المملوكة بالكامل لشركة الخدمات العامة .
                    <a href=@Url.Action("AboutUsAr","Home") class="btn btn-xs btn-flat mont">إقرأ المزيد</a>
                </h3>

            </div>

        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mont text-center heading">مشاريعنا و خدماتنا</h1>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row card">
                    <div class="col-xs-12 col-lg-9 mont">
                        <h2>مشروع فحص العمالة الوافدة</h2>
                        <p>
                            فخراً لشركة الخدمات العامه إسهامها الحقيقي في إحكام منظومة الأمن الصحي الوقائي للبلاد بالتعاون مع وزارة الصحه من خلال مشروع فحص العماله الوافده قبل دخول الكويت في مراكزنا المنتشرة حول العالم
                            <a href=@Url.Action("ExpatsExamProjAr", "Home")>إقرأ المزيد ...</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <a href=@Url.Action("ExpatsExamProjAr", "Home")><img class="img-responsive" src="~/Content/Images/ExpatexamProj.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row card">
                    <div class="col-xs-12 col-lg-9 mont">
                        <h2>مشروع الضمان الصحى</h2>
                        <p>
                            أحد أكبر المشروعات الوطنيه التي تنفذها شركة الخدمات العامه بنظام ال BOT  ، حيث تقدم الشركة خدمة تسجيل المشتركين في نظام الضمان والتأمين الصحي لجميع الوافدين إلى البلاد وإصدار البطاقات الخاصه بهم
                            <a href=@Url.Action("ServicesAr", "Home")>إقرأ المزيد ...</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <a href=@Url.Action("ServicesAr", "Home")><img class="img-responsive" src="~/Content/Images/HealthProject.png" alt="" /></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-6">
                <div class="row card">
                    <div class="col-xs-12 col-lg-9 mont">
                        <h2>يُمناك كونسيرج</h2>
                        <p>
                            هو مشروع الأحلام ، حيث يُحلق بك عبر خدماتنا إلى عالم الرفاهية والمتعه ، معنا تصبح الأمنيات حقيقة .. وتغدو الحياة أجمل وأسهل،
                            <a href=@Url.Action("YemnakAr","Home")>إقرأ المزيد ...</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <a href=@Url.Action("YemnakAr","Home")> <img class="img-responsive" src="~/Content/Images/YemnakProj.png" alt="" /></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row card">
                    <div class="col-xs-12 col-lg-9 mont">
                        <h2>مركز إتصال إكسل</h2>
                        <p>
                            تضم شركة الخدمات العامه بين وحداتها مركز إتصال "إكسل XCEL  بطاقة إستيعابية تصل حتى 100 موظف بأحدث الأنظمة والأجهزة المتخصصه في مجال الإتصال (AVAYA System ) ونظام إدارة علاقات العملاء (Microsoft CRM)  ونظم تســـجيل المكالمات Call Parrot))
                            <a href=@Url.Action("XcelAr", "Home")>إقرأ المزيد ...</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <a href=@Url.Action("XcelAr", "Home")> <img class="img-responsive" src="~/Content/Images/Xcel.png" alt="" /> </a>
                    </div>
                </div>

            </div>
        </div>


        <hr />

        <div class="row">
            <div class="col-md-6 col-lg-8 col-md-offset-2">
                <div class="row card">
                    
                    <div class="col-xs-12 col-lg-8 mont">
                        @*<h2>KHADAMAT EXPRESS</h2>*@
                        <p>
                            خدمات اكسبرس هي خدمة مميزة تقدمها شركة الخدمات العامة للقيام بانجاز المعاملات الحكومية للمواطنين والمقيمين والشركات (مندوبك الخاص) وتتميز خدمات إكسبرس بكوادرها المتخصصة ذات الخبره العريقة في هذا المجال لتقديم أفضل ما لديها سعيا منها لإرضاء عملاءها وخلق صورة جديدة في انجاز المعاملات علي مستوى VIP عبر اسطولها المتكامل لجعل المهمة اكثر سهولة واقل جهد كما نعفيك من المراجعات والتواجد في الزحام لدى الدوائر الحكومية.

                            @*<a href=@Url.Action("Xcel", "Home")>Read More...</a>*@
                        </p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <a href="#"><img class="img-responsive" src="~/Content/Images/KhadamatExpress.jpg" alt="" /></a>
                    </div>
                </div>

            </div>
        </div>

        <hr />


    </div>
</section>

<div class="newsskew"></div>

<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mont text-center heading">المركز الإعلامى</h1>
            </div>
        </div>
        <div class="row">
            <div class="slickclass2">

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/News_Events/109.jpg" /></div>

                        <figcaption>
                            <div class="date"><span class="day">04</span><span class="month">June</span></div>
                            <h3>Positive expectations surround the operations</h3>
                            <p>
                                Salam Holding Group held its Ramadan gathering in the presence of the officials of the subsidiaries and their employees at the Mayadeen Al-Ramayeh Complex
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media7ar","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image">
                            <img src="~/Content/Images/KWG3.jpg" alt="pr-sample25" />
                        </div>
                        <figcaption>
                            <div class="date"><span class="day">21</span><span class="month">May</span></div>
                            <h3>ceremony of the Kuwaiti Cultural Office in Cairo</h3>
                            <p>
                                Public Services Company, sponsored the ceremony held by the Kuwaiti Cultural Office in Cairo for the 2017/2016 Kuwaiti students.
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media2Ar","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/KWG1.jpg" alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">20</span><span class="month">June</span></div>
                            <h3>Positive expectations surround the operations</h3>
                            <p>
                                Salam Holding Group held its Ramadan gathering in the presence of the officials of the subsidiaries and their employees at the Mayadeen Al-Ramayeh Complex
                            </p>
                        </figcaption>
                        <a href=@Url.Action("MediaAr", "Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/News_Events/1000_Flags_Celebration.jpg" alt="1000 Flags Celebration" /></div>
                        <figcaption>
                            <div class="date"><span class="day">25</span><span class="month">Feb</span></div>
                            <h3>1000 Kuwait flags in the Kuwait International Airport</h3>
                            <p>
                                PSC had distributed 1000 Kuwait flags in the Kuwait International Airport for celebration of the NAtional Day & the Liberation Day of Kuwait.
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media5ar","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image">
                            <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/front.jpg" alt="Opening of New Headquater" />
                        </div>
                        <figcaption>
                            <div class="date"><span class="day">21</span><span class="month">Mar</span></div>
                            <h3>Opening of the new headquarters of Public Services Company</h3>
                            <p>
                                Public Services company inaugurated the new headquarters In cairo to provide services to examine expatriate labor in Cairo.
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media6ar","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/KWG4.jpg" alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">13</span><span class="month">Apr</span></div>
                            <h3>Call for regular and group lunch</h3>
                            <p>
                                The Public Services Company has invited to the regular meeting and collective lunch at the compound of fields of shooting
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media4Ar","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/KWG2.jpg" alt="pr-sample24" /></div>
                        <figcaption>
                            <div class="date"><span class="day">16</span><span class="month">Apr</span></div>
                            <h3>Employees Honoring 2015</h3>
                            <p>
                                Public Services Company honored its employees for 2015 At its headquarters in Kuwait.
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media3Ar","Home")></a>
                    </figure>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- #region Clients -->

<div id="clients" class="clients" style="background-color:#fff; height: 300px; padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-10 mx-auto">
                <div class="clientslick">
                    <div><img src="~/Content/Images/AUB_Logo.jpg" /></div>
                    <div><img src="~/Content/Images/CMGS.png" /></div>
                    <div><img src="~/Content/Images/MOJ.png" /></div>
                    <div><img src="~/Content/Images/MOH_Logo.png" /></div>
                    <div><img src="~/Content/Images/KFH_logo.png" /></div>
                    <div><img src="~/Content/Images/LegalLogo.png" /></div>
                    <div><img src="~/Content/Images/altijari.png" /></div>
                    <div><img src="~/Content/Images/Viva.png" /></div>
                    <div><img src="~/Content/Images/Warba_bank.png" /></div>
                    <div><img src="~/Content/Images/MOF_Logo.png" /></div>
                    <div><img src="~/Content/Images/MOI_Logo.png" /></div>
                    <div><img src="~/Content/Images/PACI_Logo.png" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
