
@{
    ViewBag.Title = "MediaAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .news {
            padding-top:50px;
        }
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("MediaAllAr", "Home")>العربي</a>
</div>

<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mont text-center heading" style="color:black;border: 4px double darkgray; padding: 10px;">News & Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="">

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/KWG2.jpg" alt="pr-sample24" /></div>
                        <figcaption>
                            <div class="date"><span class="day">16</span><span class="month">Apr</span></div>
                            <h3>Employees Honoring 2015</h3>
                            <p>
                                Public Services Company honored its employees for 2015 At its headquarters in Kuwait.
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media3","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image">
                            <img src="~/Content/Images/KWG3.jpg" alt="pr-sample25" />
                        </div>
                        <figcaption>
                            <div class="date"><span class="day">21</span><span class="month">May</span></div>
                            <h3>ceremony of the Kuwaiti Cultural Office in Cairo</h3>
                            <p>
                                Public Services Company, sponsored the ceremony held by the Kuwaiti Cultural Office in Cairo for the 2017/2016 Kuwaiti students.
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media2","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/KWG1.jpg" alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">20</span><span class="month">June</span></div>
                            <h3>Positive expectations surround the operations</h3>
                            <p>
                                Salam Holding Group held its Ramadan gathering in the presence of the officials of the subsidiaries and their employees at the Mayadeen Al-Ramayeh Complex
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media","Home")></a>
                    </figure>
                </div>

                <div class="col-lg-4 text-center">
                    <figure class="snip1527">
                        <div class="image"><img src="~/Content/Images/KWG4.jpg" alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">13</span><span class="month">Apr</span></div>
                            <h3>Invitation for regular and group lunch</h3>
                            <p>
                                The Public Services Company has invited to the regular meeting and collective lunch at the compound of fields of shooting
                            </p>
                        </figcaption>
                        <a href=@Url.Action("Media4","Home")></a>
                    </figure>
                </div>
               
            </div>
        </div>
    </div>
</section>

