
@{
    ViewBag.Title = "MediaAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> |  <a class="mont" style="color:#555" href=@Url.Action("Media","Home")>English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#555" href="#">العربي</a>
</div>

<div class="container" style="direction:rtl">

    <div class="row">
        <div class="col-lg-12 mont">
            <br />
            <h4>
                دعوة مجموعة السلام لجميع موظفيها لغبقتها الرمضانية
                أقامت مجموعة السلام القابضة غبقتها الرمضانية بحضور مسؤولي الشركات التابعة وموظفيها في مجمع ميادين الرمايه
            </h4>
            <br />

            <a class="btn btn-success" href="http://www.alraimedia.com/ar/article/economics/2017/06/20/773603/nr/kuwait" target="_blank">شاهد التغطية بجريدة الرأى </a>

            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/1.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/1.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-2 wow fadeInDown">
                    <img src="~/Content/Images/News_Events/2.jpg" />
                </div>
                <div class="large-2 wow bounceInDown">
                    <img src="~/Content/Images/News_Events/2.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-3 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/3.jpg" />
                </div>
                <div class="large-3 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/3.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@
                <div class="thumbnail-4 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/4.jpg" />
                </div>
                <div class="large-4 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/4.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-5 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/5.jpg" />
                </div>
                <div class="large-5 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/5.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-6 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/6.jpg" />
                </div>
                <div class="large-6 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/6.jpg" />
                    <span class="close">&#x2716;</span>
                </div>


                @* ************************************************** *@

                <div class="thumbnail-7 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/7.jpg" />
                </div>
                <div class="large-7 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/7.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-8 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/8.jpg" />
                </div>
                <div class="large-8 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/8.jpg" />
                    <span class="close">&#x2818;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-9 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/9.jpg" />
                </div>
                <div class="large-9 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/9.jpg" />
                    <span class="close">&#x2919;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-10 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/10.jpg" />
                </div>
                <div class="large-10 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/10.jpg" />
                    <span class="close">&#x2919;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-11 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/11.jpg" />
                </div>
                <div class="large-11 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/11.jpg" />
                    <span class="close">&#x2919;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-12 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/12.jpg" />
                </div>
                <div class="large-12 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/12.jpg" />
                    <span class="close">&#x2919;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-13 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/13.jpg" />
                </div>
                <div class="large-13 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/13.jpg" />
                    <span class="close">&#x2919;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-14 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/14.jpg" />
                </div>
                <div class="large-14 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/14.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-15 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/15.jpg" />
                </div>
                <div class="large-15 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/15.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-16 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/16.jpg" />
                </div>
                <div class="large-16 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/16.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-17 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/17.jpg" />
                </div>
                <div class="large-17 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/17.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-18 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/18.jpg" />
                </div>
                <div class="large-18 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/18.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-19 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/19.jpg" />
                </div>
                <div class="large-19 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/19.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-20 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/20.jpg" />
                </div>
                <div class="large-20 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/20.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-21 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/21.jpg" />
                </div>
                <div class="large-21 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/21.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-22 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/22.jpg" />
                </div>
                <div class="large-22 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/22.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-23 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/23.jpg" />
                </div>
                <div class="large-23 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/23.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-24 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/24.jpg" />
                </div>
                <div class="large-24 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/24.jpg" />
                    <span class="close">&#x2717;</span>
                </div>

                @* ************************************************** *@

                <div class="thumbnail-25 wow fadeInRight">
                    <img src="~/Content/Images/News_Events/25.jpg" />
                </div>
                <div class="large-25 wow bounceInRight">
                    <img src="~/Content/Images/News_Events/25.jpg" />
                    <span class="close">&#x2717;</span>
                </div>
            </div>


        </div>
    </div>
</div>

<br /><br /><br />