
@{
    ViewBag.Title = "Media3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> |  <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("Media3Ar","Home")>عربي</a>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12 mont">
            <br />
            <h4>
                Honoring employees in 2015 <br />
                The General Services Company honored its staff for 2015 at its headquarters in Kuwait
            </h4>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/1u.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/1u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@
                <div class="thumbnail-2 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/2u.jpg" />
                </div>
                <div class="large-2 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/2u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-3 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/3u.jpg" />
                </div>
                <div class="large-3 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/3u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-4 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/4u.jpg" />
                </div>
                <div class="large-4 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/4u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-5 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/5u.jpg" />
                </div>
                <div class="large-5 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/5u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-6 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/6u.jpg" />
                </div>
                <div class="large-6 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/6u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-7 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/7u.jpg" />
                </div>
                <div class="large-7 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/7u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-8 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/8u.jpg" />
                </div>
                <div class="large-8 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/8u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-9 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/9u.jpg" />
                </div>
                <div class="large-9 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/9u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-10 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/10u.jpg" />
                </div>
                <div class="large-10 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/10u.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br />


