
@{
    ViewBag.Title = "Media2Ar";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> |  <a class="mont" style="color:#555" href=@Url.Action("Media2","Home")>English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#555" href="#">العربي</a>
</div>

<div class="container" style="direction:rtl">

    <div class="row">
        <div class="col-lg-12 mont">
            <br />
            <h4>
                رعت شركة الحلول المتكاملة بالقاهرة، المملوكة لشركة الخدمات العامة بالكويت الحفل الذي أقامه المكتب الثقافي الكويتي بالقاهرة للطلبة الكويتيين الخريجين لعام 2017/‏2016.
            </h4>
            <br />

            <a class="btn btn-success" href="http://www.alraimedia.com/ar/article/economics/2017/05/21/767236/nr/kuwait" target="_blank">شاهد التغطية بجريدة الرأى </a>
            <a class="btn btn-success" href="http://al-seyassah.com/%D8%A7%D9%84%D8%AD%D9%84%D9%88%D9%84-%D8%A7%D9%84%D9%85%D8%AA%D9%83%D8%A7%D9%85%D9%84%D8%A9-%D8%B1%D8%B9%D8%AA-%D8%AA%D8%AE%D8%B1%D9%8A%D8%AC-%D8%A7%D9%84%D8%B7%D9%84%D8%A8%D8%A9-%D8%A7/" target="_blank">شاهد التغطية بجريدة السياسة </a>

            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/KWG3.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/KWG3.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>
        </div>
    </div>
</div>

<br /><br /><br />
