
@{
    ViewBag.Title = "Media6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("Media6Ar","Home")>عربي</a>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12 mont">
            <br />
            <h1 class="text-center">Opening of the new headquarters of Public Services Company</h1>
            <br />
            <br />
            <h4 style="line-height:35px;">
                Under the patronage of His Excellency the Ambassador of the State of Kuwait in Cairo Mr. Mohammed Saleh Al-Thoikh and in the presence of
                Dr. Mansour Sarkhoh Director of the Kuwaiti Health Bureau In Cairo and Mr. / Ali Al-Shamali, Chairman of the Public Services Company,
                inaugurated the new headquarters of an Public services company. Dr. Wafa Al Otaibi, Deputy Director General for Medical and Operations
                Affairs at the company took the guests in a tour of the headquarters to view and explain the mechanism of work and procedures for all
                services provided by the company to examine expatriate labor in Cairo.
            </h4>
            <br />
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-340.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-340.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>

            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-430.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-430.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>

            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-475.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-475.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>

            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-542.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-542.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>

            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-547.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-547.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>

            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-595.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/Egypt_Khadamat_Opening/0-595.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

            </div>
        </div>
    </div>
</div>

<br /><br /><br />

