
@{
    ViewBag.Title = "Media4ar";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#555" href=@Url.Action("Media4","Home")>English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#555" href="#">عربي</a>
</div>

<div class="container" style="direction:rtl">

    <div class="row">
        <div class="col-lg-12 mont">
            <br />
            <h4>
                دعوة القاء الدورى والغداء الجماعى
                <br />
                قامت شركة الخدمات العامة بدعوة للقاء الدورى والغداء الجماعى في مجمع ميادين الرمايه

            </h4>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="gallery">
                @* ************************************************** *@
                <div class="thumbnail-1 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/1.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-1 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/1.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@
                <div class="thumbnail-2 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/2.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-2 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/2.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-3 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/3.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-3 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/3.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-4 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/4.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-4 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/4.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-5 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/5.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-5 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/5.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-6 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/6.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-6 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/6.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-7 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/7.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-7 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/7.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-8 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/8.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-8 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/8.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-9 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/9.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-9 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/9.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-10 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/10.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-10 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/10.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-11 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/11.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-11 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/11.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-12 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/12.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-12 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/12.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-13 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/13.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-13 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/13.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-14 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/14.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-14 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/14.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-15 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/15.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-15 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/15.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-16 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/16.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-16 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/16.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@
                <div class="thumbnail-18 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/18.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-18 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/18.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-19 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/19.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-19 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/19.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-20 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/20.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-20 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/20.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
                @* ************************************************** *@
                <div class="thumbnail-21 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/21.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-21 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/21.jpg" />
                    <span class="close">&#x2715;</span>
                </div>

                @* ************************************************** *@
                <div class="thumbnail-17 wow fadeInLeft">
                    <img src="~/Content/Images/News_Events/lunch/17.jpg" />
                    @*<div class="caption">
                            <h3 class="wow fadeInUp">Sydney</h3>
                        </div>*@
                </div>
                <div class="large-17 wow bounceInLeft">
                    <img src="~/Content/Images/News_Events/lunch/17.jpg" />
                    <span class="close">&#x2715;</span>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br />



