
@{
    ViewBag.Title = "MsgCEO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("MsgCEOAr", "Home")>عربي</a>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
            <h3 class="mont text-center">
                Chairman Message
            </h3>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img class="img-responsive" style="border:1px solid black" src="~/Content/Images/mdpic.jpg" alt="" />
        </div>
        <div class="col-lg-9">
            <h4 class="mont text-justify" style="line-height:35px;">
                Based on the Public Services Company’s (PSC) vision and its commitment towards improving and developing the level of services in the State of Kuwait, and given the progress undergoing in the region, we seek to achieve supremacy and excellence. This can be achieved by providing integrated services on behalf of some ministries and governmental institutions at a higher level, with greater efficiency and lower cost. As a result, it shall reflect positively on the governmental institutions performance and the development of its services in general.
                <br /><br />
                A number of achievements by PSC within the past two decades include; a national project that was carried out in cooperation with the Ministry of Health, as a response to the ambitions and aspirations of Kuwait to achieve the vision of His Highness the Amir. In addition, a number of fruitful partnerships to implement several projects with the private sector, and also on an international level, through a number of service centers located in Egypt, Jordan and India. PSC is keen to expand its services to include additional countries, as well as adding new services under its umbrella.
                <br /><br />
                Believing in the fundamental principle that human resources is one of the most important elements of success, PSC has invested heavily in training, and has achieved success by raising the level of performance and upgrading the quality of employees. We currently have approximately 500 employees providing the highest level of services, all motivated to achieve customer satisfaction.
                <br /><br />
                The Company is currently seeking to study and execute large scale projects with a number of different ministries, by providing smart solutions using the latest technical means. I believe PSC has the ability to execute and manage larger projects along with the flexibility in meeting customer needs, through the possession of the latest technical equipment which enables it to manage such types of projects.
                <br /><br />
                Finally, we ask God Almighty, to bless our colleagues in their efforts. I emphasize our determination and aspiration in the services industry to meet our customers satisfaction, and to keep pace with all innovative ideas to improve the performance of services provided locally and internationally.
                <br /><br />
                <strong>
                    Mr. Sabah Salman Alsabah
                    <br />
                    Chairman
                </strong>
            </h4>
        </div>
    </div>
</div>