
@{
    ViewBag.Title = "MsgCEOAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("MsgCEO", "Home")>English</a> | <a class="mont" style="color:#555" href="#">العربي</a>
</div>

<br />

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center" style="color:black;border: 4px double darkgray; padding: 10px;">رسالة رئيس مجلس الإدارة</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <h4 class="mont text-justify" style="direction:rtl; line-height:35px;">
                إن الشـركـة تـمر حاليا بمرحلة هامة جدا إذ أنها تسعى نحو تحقيق رؤيتها لتصبح أكـبر شركة تعنى بتقديم الخدمات مع توفيرها لمنتجات وخدمات هامة متنوعة في أسواق الشرق الأوسط والأسواق الناشئة مما يؤهلها لأن تصبح أكبر مؤسسة في المنطقة في مجال توفير بطاقة الهوية في العالم العربي بأسره.

                وإذا ما نـظرنا إلـى التاريـخ الحـافل والمشـرف للشـركـة نـجد أن عـدد المـوظفـين المحترفين من ذوي الكفاءات بالشركة قد نما من 20 إلى 150 موظفا خلال فترة قياسية، وقد نجحنا في إنجاز أحد المشروعات الوطنية بالاشتراك مع وزارة الصحة الكويتية ونأمل أن نحقق مزيدا من النجاح في المستقبل.

                بصفتها شركة قوية في مجال تقديم خدمات البناء والإدارة والتحويل (BOT) وتتمتع بقدرة متكاملة لتنفيذ وإدارة مشاريع عملاقة إلى جانب المرونة فإن الشركة ومن يعمل ضمن طاقمها من الموظفين لديهم توجه وحس مهني ومهارات تجعلهم لا يألون جهدا في إنجاز المهام الموكلة إليهم ولذلك فإن تتبنى الشركة القيام بمزيد من المشاريع الواعدة. ونحن الآن نمر بمرحلة زيادة رأس مال الشركة من مليوني دينار كويتي إلى ثلاثة ملايين دينار كويتي وزيادة أصول الشركة لنتمكن أكثر فأكثر من خدمة عملائنا الكرام.


                ومن خلال ما تتمتع به الشركة حاليا من كفاءات وتقنيات ناجحة وطاقم من العاملين الذين يتمتعون بمهارات عالية فإنها تعمل على إضفاء مزيد من الانسيابية على الأعمال التي تقوم بها وعلى زيادة فاعلية العمليات التجارية التي تمارسها لتثبت أنها قادرة على تحقيق عائد جيد من الاستثمارات المخصصة لها، هذا بالإضافة إلى عملها على تحسين علاقتها بعملائها وذلك من خلال الخدمات والمنتجات ذات المستوى العالمي والسعر المعقول ومن خلال العمل على إرضاء العميل.

                إننا عازمون على الاستمرار في توفير أفضل الخدمات لعملائنا الكرام كما أننا حريصون كل الحرص على مواكبة التطورات التي تحدث على صعيد السوق المحلي والإقليمي والعالمي الذي يتسم بالتغير والتجدد.

                إشكرا لزيارتكم الكريمة لموقعنا على الشبكة.
                الدكتور / على الشمالى
                رئيس مجلس الإدارة
            </h4>
        </div>

        <div class="col-lg-3">
            <img class="img-responsive" style="border:1px solid black" src="~/Content/Images/mdpic.jpg" alt="" />
        </div>
    </div>

</div>