
@{
    ViewBag.Title = "XcelAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> |  <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("Xcel","Home")>English</a> | <a class="mont" style="color:#555" href="#">عربي</a>
</div>

<div class="container">
    <br />
    @*<div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">

            <a class="btn btn-lg btn-success mont" href=@Url.Action("ServicesAr", "Home")>مشروع الضمان الصحى</a>
            <a class="btn btn-lg btn-success mont" href=@Url.Action("ExpatsExamProjAr", "Home")>مشروع فحص العمالة الوافدة</a>
            <a class="btn btn-lg btn-success mont" href="#">مركز إتصال إكسل</a>
            <a class="btn btn-lg btn-success mont" href=@Url.Action("YemnakAr","Home")>يُمناك كونسيرج</a>

        </div>


    </div>*@

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center">
                مركز إتصال إكسل
                <img class="img-responsive" style="width:5%;display:inline" src="~/Content/Images/Xcel.png" alt="" />
                <br /><br />
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/xcel.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                تضم شركة الخدمات العامة مركز الاتصال اكسل الذي تم تأسيسه في عام 2008 والذي يقوم بتنفيذ اعمال مركز الاتصال عن الغير. و يعتبر من أكبر مزودي خدمة مراكز الاتصال بالكويت. حيث يعمل في المركز طاقم يضم نخبة من العاملين في قطاع خدمة العملاء و مراكز الاتصال كما يضم مركز تدريبي يعمل على تطوير أداء العاملين بالمركز ليواكب كل ما هو حديث في مجال خدمة العملاء. 
                <br />
                <br />
                يقدم مركز الاتصال اكسل الحلول التقنية و الموارد البشرية اللازمة للعملاء من الشركات الراغبة بتشغيل مركز الاتصال حيث نقوم بالنيابة عن الشركة بعمل التدريب و تهيئة الموظفين للعمل كأنهم جزء من الشركة و توفير الخدمة لعملائهم كأنهم هم من يقوم بالعمل.
                <br />
                <br />
                و من أهم ما نحرص علية في تعاملنا مع عملائنا هو السرية و الخصوصية التامة للمعلومات كما نحرص على تقديم أرقى الخدمات لعملائنا. 
                <br />
                <br />
                لماذا مركز الاتصال ؟
                <br />
                <br />
                تعتبر مراكز الاتصال من الاماكن الاكثر تحديا للتشغيل داخل أي مؤسسة وذلك لتكلفتها العالية من حيث التكنولوجيا و الموارد البشرية. و تعتبر مراكز الاتصال مركز تكلفه و لا تعتبر من الموارد التي تجني الارباح المباشرة. وتقليل المصاريف في مراكز الاتصال يعتبر من المطالب الأساسية للشركات. ولكن غالبا ما يكون التوفير على حساب جودة الخدمة المقدمة للعملاء. ومن التحديات الكبيرة التعامل مع الموارد البشرية على اعتبار ان بيئة مراكز الاتصال تعتبر من الاماكن الغير جاذبة و معدل التوظيف يكون عالي مما يسبب عبئا على المؤسسة.
                <br />
                <br />
                نعمل في مركز الاتصال اكسل على حل جميع هذه المشاكل بالتعاون المشترك. حيث تقوم العلاقة بين مركز الاتصال اكسل و جميع عملائنا على الشراكة في النجاح. حيث نعمل كجزء من المؤسسة. حيث نضع مواردنا الفنية و الادارية و التقنية بخدمتكم.
                <br />
                <br />
                لماذا نحن؟
                <br />
                <br />
                يقوم العمل بمركز الاتصال بديناميكية مطلقه لتتناسب مع احتياجات عملائنا من حيث زيادة و تقليل عدد الموظفين بحسب الحاجه و للتناسب مع الحملات الاعلانية أو التسويقية التي تقومون بها. كما إن التنوع بتقديم الخدمات يوفر لكم إمكانية الوصول لعملائكم بمختلف القنوات و بما يتناسب مع اختيار العميل لطريقة التواصل مع مؤسستكم و الاستفادة من الموارد البشرية و التقنية المتوفرة لدينا.
                <br />
                <br />
                حيث نقوم بتنفيذ جميع الاعمال الخاصة بخدمة العملاء من خلال:
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-lg-offset-8">
            <ul class="list-group mont">
                <li class="list-group-item text-right" style="direction:rtl">الرد على الاتصالات الواردة.</li>
                <li class="list-group-item text-right" style="direction:rtl">عمل الحملات التسويقية.</li>
                <li class="list-group-item text-right" style="direction:rtl">الرد على وسائل التواصل الاجتماعي.</li>
                <li class="list-group-item text-right" style="direction:rtl">حملات استطلاع الرأي.</li>
                <li class="list-group-item text-right" style="direction:rtl">خدمات الدعم الفني.</li>
                <li class="list-group-item text-right" style="direction:rtl">خدمات التحصيل.</li>
                <li class="list-group-item text-right" style="direction:rtl">خدمات التدريب و الاستشارات.</li>
                <li class="list-group-item text-right" style="direction:rtl">الحملات التوعوية و الارشادية.</li>
            </ul>
        </div>
    </div>
</div>

