

@{ ViewBag.Title = "Yemnak Concierge"; }

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;right:120px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a class="mont" style="color:#444" href="">English</a> | <a style="font-family: 'Droid Arabic Kufi', sans-serif;color:#444" href=@Url.Action("YemnakAr", "Home")>عربي</a>
</div>

<div class="container">

    <br />

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center">
                <a target="_blank" href="http://www.yemnak.com/"><img class="img-responsive" style="width:5%;display:inline" src="~/Content/Images/YemnakProj.png" alt="" /></a>
                Yemnak
            </h3>
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/yemnak.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                Since 2003, the company has sought to achieve the highest level of luxury for its customers through Yemnak Concierge Project (Personal Assistant). Yemnak Concierge meets all its customers needs (whether individuals or companies), by working 24 hours a day, 7 days a week. The services offered include the completion of government transactions, delivery from and to the airport, in addition to other services tailored to the needs of the clients (compliant to Shari’a principles). We also provide our customers with multi-level cards designed to customize their experience, or through executing contracts with private companies, institutions and government agencies. 
                <br /><br />
                To know more details of our services please visit : <a target="_blank" href="http://www.yemnak.com/">www.yemnak.com</a>
                <br /><br />
                Some major clients of Yemnak Concierge include: 
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <ul class="list-group mont">
                <li class="list-group-item">Council of Ministers General Secretariat</li>
                <li class="list-group-item">Ministry of Justice</li>
                <li class="list-group-item">Legal Advice & Legislation </li>
                <li class="list-group-item">Kuwait Telecom Company (VIVA) </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group mont">
                <li class="list-group-item">Warba Bank</li>
                <li class="list-group-item">Commercial Bank of Kuwait</li>
                <li class="list-group-item">Kuwait Finance House</li>
                <li class="list-group-item">Kuwait Lawyers Association</li>
            </ul>
        </div>
    </div>
</div>
