
@{
    ViewBag.Title = "YemnakAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<style>
    @@media only screen and (min-width : 320px) {
        .slickclass {
            display: none;
        }

        header {
            background: none;
            height: auto;
        }

        .overlay {
            display: none;
        }

        .footerskew {
            display: none;
        }

        footer {
            margin: 0;
        }

            footer img {
                padding-top: 30px;
            }
    }
</style>

<div style="position:absolute;left:130px;top:10px;z-index:999999999;">
    <a target="_blank" href="https://mail.psc.com.kw/owa" class="mont" style="color:#444">@@</a> | <a style="color:#555; font-family: 'Montserrat', sans-serif;" href=@Url.Action("Yemnak","Home")>English</a> | <a class="mont" style="color:#555" href="#">عربي</a>
</div>

<div class="container">

    <br />
    @*<div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">

            <a class="btn btn-lg btn-success mont" href=@Url.Action("ServicesAr", "Home")>مشروع الضمان الصحى</a>
            <a class="btn btn-lg btn-success mont" href=@Url.Action("ExpatsExamProjAr", "Home")>مشروع فحص العمالة الوافدة</a>
            <a class="btn btn-lg btn-success mont" href="#">مركز إتصال إكسل</a>
            <a class="btn btn-lg btn-success mont" href=@Url.Action("YemnakAr","Home")>يُمناك كونسيرج</a>

        </div>


    </div>*@

    <div class="row">
        <div class="col-xs-12">
            <h3 class="mont text-center">
                يُمناك كونسيرج
                <a target="_blank" href="http://www.yemnak.com/"><img class="img-responsive" style="width:5%;display:inline" src="~/Content/Images/YemnakProj.png" alt="" /></a>
            </h3>
            <h4 class="mont text-center">المساعد الشخصي</h4>
            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
            <video id="Aboutus_Video_PSC" class="Aboutus_Video_PSC" autoplay="autoplay" controls="controls">
                <source src="~/Content/Videos/yemnak.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p class="mont yemnak_description">
                تسعى الشركة منذ 2003 من خلال مشروع يمناك كونسيرج ( المساعد الشخصي ) الى تحقيق أعلى مستوى من الرفاهية لعملائها و ذلك من خلال تلبية كل ما يحتاجه العملاء سواء أفراد او شركات من خدمات مميزة لتسهيل أمور حياتهم اليومية على مدى 24 ساعة طوال أيام الاسبوع مثل إنجاز المعاملات الحكومية بالكويت و أيضا التوصيل من و إلى المطار بالإضافة الى خدمات اخرى مميزة حسب احتياجات العميل التي تتوافق مع شريعتنا السمحاء ، محققين بذلك شعار الخدمة ( خلنا على يمناك لا عدمناك )و يمكن التمتع بخدمات يمناك عن طريق بطاقات متعددة المستويات صممة للتوافق مع جميع احتياجات شرائح المجتمع او من خلال ابرام العقود الخاصة للشركات و المؤسسات و الهيئات الحكومية ، و قد حققت هذه الخدمة طوال تلك السنوات الاهداف التي انشأت من أجلها من خلال سلسلة عملائنا الممتدة من أفراد و شركات و هيئات و وزارات حكومية داخل دولة الكويت  ولتعرف على المزيد من تفاصيل هذه الخدمة يمكنك الدخول على الرابط <a target="_blank" href="http://www.yemnak.com/">www.yemnak.com</a>
            </p>

            
        </div>

    </div>
</div>

